# import packages

In [2]:
import pandas as pd

# read xlsx

## read DATA

In [10]:
# read DATA
file_path = "../data/業務員資料0325V01.xlsx"
df_DATA = pd.read_excel(file_path, sheet_name="DATA",engine='openpyxl')
df_DATA

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
0,agnt_0001,M,DEPT3,AREA13,CNTR13,K7,3,30054.25,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
1,agnt_0002,M,DEPT2,AREA18,CNTR12,HA,1,68389.32,100.0,NaN,...,0,0,3,0,0,1,0,0,0,N
2,agnt_0003,M,DEPT3,AREA13,CNTR13,Z1,2,14618.46,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
3,agnt_0004,M,DEPT3,AREA13,CNTR35,Z1,2,42400.30,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
4,agnt_0005,M,DEPT3,AREA13,CNTR35,Z1,1,23869.50,0.0,NaN,...,0,0,0,0,0,0,0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4014,agnt_4015,F,DEPT3,AREA13,CNTR13,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4015,agnt_4016,F,DEPT3,AREA14,CNTR17,Z1,2,44524.35,NaN,NaN,...,0,0,3,0,0,1,1,0,0,N
4016,agnt_4017,M,DEPT3,AREA13,CNTR35,KA,2,36144.52,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4017,agnt_4018,F,DEPT2,AREA21,CNTR14,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4018,agnt_4019,F,DEPT2,AREA18,CNTR3,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N

## read schema

In [11]:
# read schema
file_path = "../data/業務員資料0325V01.xlsx"
df_schema = pd.read_excel(file_path, sheet_name="schema",engine='openpyxl')
df_schema

               欄位英文          欄位中文   型別
0         SERIAL_NO        業務員流水號  NaN
1            GENDER            性別  類別型
2          DEPT_FLG        招攬部室代號  類別型
3          AREA_FLG        招攬區部代號  類別型
4          CNTR_FLG        招攬單位代號  類別型
..              ...           ...  ...
60    RULE36_COUNTS  業務員符合規則36的次數  連續型
61    RULE37_COUNTS  業務員符合規則37的次數  連續型
62    RULE38_COUNTS  業務員符合規則38的次數  連續型
63    RULE39_COUNTS  業務員符合規則39的次數  連續型
64  ABNORMAL_TARGET      是否為挪用業務員  類別型

[65 rows x 3 columns]

## read 規則對照表

In [12]:
# read 規則對照表
file_path = "../data/業務員資料0325V01.xlsx"
df_rule = pd.read_excel(file_path, sheet_name="規則對照表",engine='openpyxl')
df_rule

      規則代號  規則中文                                             代碼中文說明
0    RULE1   規則1                               業務員職務為業務襄理或業務副理或區經理者
1    RULE2   規則2                                   催告退回比率大於3%(地址異動)
2    RULE3   規則3                             同一要保人近6個月內之保全異動次數大於10次
3    RULE4   規則4                業務員手上招攬件的保單狀況為停效、失效、自動墊繳、繳清的比例大於30%
4    RULE5   規則5                                保單生效後1年內申請賠償請求的保單數量
5    RULE6   規則6                                     催告退回比率大於3%(主招)
6    RULE7   規則7                                     催告退回比率大於3%(服務)
7    RULE8   規則8                                收費員送金單作廢率大於8%且張數大於3
8    RULE9   規則9                                      三次件綜合收取率未達85%
9   RULE10  規則10                                      二次件綜合收取率未達85%
10  RULE11  規則11                                保單生效日後60天內保單變更的張數占比
11  RULE12  規則12                                       超過6個要保人以上同地址
12  RULE13  規則13                 投保後第二保單年度即辦理繳清保險，且占所有招攬保單比例大於等於10%
13  RULE14  規則14                                     於理賠後兩年內保障停效之占率
14  RULE15  規則15                  業務員每月津貼扣款金額大於等於10000元或扣款比例大於等於10%
15  RULE16  規則16                                       業務員過去五年自有保單數
16  RULE17  規則17                              業務員遲到次數大於5次或未出勤天數大於5天
17  RULE18  規則18                                     超過3個要保人以上同手機號碼
18  RULE19  規則19                                    超過5個要保人以上同Email
19  RULE20  規則20                                   近一年佣金收入與近三年佣金收入比
20  RULE21  規則21                              業務員所有招攬之保單的總可貸餘額小於10%
21  RULE22  規則22                                      業務員與其配偶或二等親同處
22  RULE23  規則23                         新契約短期內變更繳別(大改小)，一年內再辦理繳清保險
23  RULE24  規則24                                       業務員自身有結欠款或法扣
24  RULE25  規則25                                        業務員年資大於等於2年
25  RULE26  規則26                               業務員自身申請放款者或為他人放款之介紹人
26  RULE27  規則27                            同一業務員，客戶同一帳/卡號授權人大於等於2人
27  RULE28  規則28                      業務員之月平均業績達20萬以上，且25個月繼續率小於50%
28  RULE29  規則29                要保人購買新保單當曆月及前6個曆月或後6個曆月，又辦理其他張保單的解約
29  RULE30  規則30                                郵寄地址與居住地址不相符的保單張數占比
30  RULE31  規則31                   六個月內，保單繳別由大繳別改小繳別且保單可貸餘額小於5%(服務)
31  RULE32  規則32                             業務員自己或親屬所有保單可貸餘額比率小於5%
32  RULE33  規則33  要保人購買新保單當曆月及前6個曆月或後6個曆月，又辦理其他張保單的貸款或縮小保額或繳清或部贖...
33  RULE34  規則34                              保單生效後1年內申請賠償請求的保單數量占比
34  RULE35  規則35                   六個月內，保單繳別由大繳別改小繳別且保單可貸餘額小於5%(主招)
35  RULE36  規則36                                   收費客戶支票取消禁背的件數大於5
36  RULE37  規則37                                       業務員年齡大於等於40歲
37  RULE38  規則38                                      超過8個要保人以上同帳卡號
38  RULE39  規則39                               辦理印鑑變更後3個月內保單借款大於10萬

In [13]:
# 假設 df_DATA 是你的 DataFrame
missing_counts = df_DATA.isnull().sum()

# 篩選出有缺失值的欄位
missing_columns = missing_counts[missing_counts > 0]

print(missing_columns)

dept_flg                        2
area_flg                        2
fyp_month_avg                1324
persistence_prem_25          3142
salary_ded_ratio             4001
age                             2
bill_invalid_ratio           3316
bill_invalid_cnt             3316
agent_own_plcy               2815
one_year_claim_plcy_cnt      2815
one_year_claim_plcy_ratio    2815
addr_not_vld_rate            2815
comm_amount_1y_rate          2815
pc_in_60_days_rate           2815
lapse_2y_rate                2815
dtype: int64

In [22]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['dept_flg']) & (df_DATA['abnormal_target'] == 'Y')]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
2474,agnt_2475,M,NaN,NaN,CNTR6,0,2,597.75,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y

In [23]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['fyp_month_avg']) & (df_DATA['abnormal_target'] == 'Y')]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
3951,agnt_3952,F,DEPT5,AREA22,CNTR10,H5,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y

In [24]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['persistence_prem_25']) & (df_DATA['abnormal_target'] == 'Y')]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
333,agnt_0334,F,DEPT2,AREA9,CNTR20,HD,2,41409.67,NaN,NaN,...,0,0,2,0,0,1,1,0,0,Y
334,agnt_0335,F,DEPT3,AREA8,CNTR16,K2,2,62528.69,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
351,agnt_0352,F,DEPT4,AREA19,CNTR30,Z1,2,46969.37,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
374,agnt_0375,F,DEPT4,AREA17,CNTR28,Z1,2,32539.06,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
450,agnt_0451,F,DEPT4,AREA20,CNTR27,HE,2,332448.33,NaN,NaN,...,0,0,6,0,0,1,1,0,0,Y
1122,agnt_1123,F,DEPT3,AREA16,CNTR1,K8,2,31356.00,NaN,NaN,...,0,0,1,0,0,0,1,0,0,Y
1406,agnt_1407,F,DEPT2,AREA2,CNTR2,K8,2,50916.87,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
1536,agnt_1537,F,DEPT3,AREA13,CNTR13,KG,5,87332.42,NaN,NaN,...,0,0,6,0,0,1,1,0,0,Y
1887,agnt_1888,F,DEPT2,AREA18,CNTR12,Z1,2,244787.09,NaN,NaN,...,0,0,4,0,0,1,1,0,0,Y
2277,agnt_2278,F,DEPT4,AREA12,CNTR34,K2,2,121127.77,NaN,NaN,...,0,0,3,0,0,1,1,0,1,Y
2353,agnt_2354,F,DEPT4,AREA3,CNTR5,Z1,2,27561.10,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2439,agnt_2440,F,DEPT4,AREA12,CNTR21,K0,2,249302.57,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2474,agnt_2475,M,NaN,NaN,CNTR6,0,2,597.75,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2825,agnt_2826,F,DEPT2,AREA1,CNTR32,K8,2,63297.91,NaN,NaN,...,0,0,4,0,0,1,1,0,0,Y
3052,agnt_3053,F,DEPT4,AREA24,CNTR11,HD,2,126924.21,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3076,agnt_3077,F,DEPT2,AREA18,CNTR4,KB,2,343758.36,NaN,NaN,...,0,0,5,0,0,1,1,0,0,Y
3114,agnt_3115,F,DEPT4,AREA19,CNTR29,KD,5,99254.92,NaN,NaN,...,0,0,13,1,0,1,1,0,0,Y
3165,agnt_3166,F,DEPT5,AREA22,CNTR8,Z1,2,60902.43,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
3365,agnt_3366,F,DEPT5,AREA11,CNTR15,KD,2,116916.14,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
3553,agnt_3554,M,DEPT5,AREA7,CNTR33,K8,2,22433.64,NaN,NaN,...,0,0,5,0,0,0,1,0,0,Y
3773,agnt_3774,M,DEPT5,AREA6,CNTR31,K8,2,90653.28,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3839,agnt_3840,M,DEPT5,AREA15,CNTR24,Z1,2,29409.67,NaN,NaN,...,0,0,1,0,0,0,0,0,0,Y
3879,agnt_3880,F,DEPT2,AREA18,CNTR3,Z1,2,33277.24,NaN,NaN,...,0,1,7,0,0,1,1,0,0,Y
3951,agnt_3952,F,DEPT5,AREA22,CNTR10,H5,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
3983,agnt_3984,F,DEPT1,AREA10,CNTR19,Z3,2,31823.59,NaN,NaN,...,0,0,3,0,0,0,1,0,0,Y
3989,agnt_3990,F,DEPT3,AREA14,CNTR17,HE,2,97652.34,NaN,NaN,...,0,1,22,0,0,1,1,0,0,Y

In [25]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['salary_ded_ratio']) & (df_DATA['abnormal_target'] == 'Y')]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
333,agnt_0334,F,DEPT2,AREA9,CNTR20,HD,2,41409.67,NaN,NaN,...,0,0,2,0,0,1,1,0,0,Y
334,agnt_0335,F,DEPT3,AREA8,CNTR16,K2,2,62528.69,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
351,agnt_0352,F,DEPT4,AREA19,CNTR30,Z1,2,46969.37,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
374,agnt_0375,F,DEPT4,AREA17,CNTR28,Z1,2,32539.06,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
440,agnt_0441,F,DEPT4,AREA20,CNTR18,Z1,2,90020.86,0.00,NaN,...,0,0,3,0,0,1,1,0,0,Y
450,agnt_0451,F,DEPT4,AREA20,CNTR27,HE,2,332448.33,NaN,NaN,...,0,0,6,0,0,1,1,0,0,Y
593,agnt_0594,F,DEPT3,AREA4,CNTR26,KB,2,80859.44,92.76,NaN,...,0,0,15,0,0,1,1,0,0,Y
881,agnt_0882,F,DEPT5,AREA23,CNTR23,KH,4,34105.46,88.28,NaN,...,0,0,7,0,0,1,1,0,0,Y
1122,agnt_1123,F,DEPT3,AREA16,CNTR1,K8,2,31356.00,NaN,NaN,...,0,0,1,0,0,0,1,0,0,Y
1233,agnt_1234,F,DEPT2,AREA9,CNTR7,HD,1,162421.85,99.95,NaN,...,0,0,13,0,0,1,1,0,1,Y
1406,agnt_1407,F,DEPT2,AREA2,CNTR2,K8,2,50916.87,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
1536,agnt_1537,F,DEPT3,AREA13,CNTR13,KG,5,87332.42,NaN,NaN,...,0,0,6,0,0,1,1,0,0,Y
1757,agnt_1758,F,DEPT2,AREA9,CNTR7,HD,4,104082.42,85.04,NaN,...,0,0,10,0,0,1,1,0,0,Y
1767,agnt_1768,F,DEPT2,AREA21,CNTR14,K8,2,95518.29,80.53,NaN,...,0,0,0,0,0,0,0,0,0,Y
1804,agnt_1805,F,DEPT3,AREA13,CNTR35,K8,1,280876.56,63.10,NaN,...,0,1,18,0,0,0,1,0,0,Y
1887,agnt_1888,F,DEPT2,AREA18,CNTR12,Z1,2,244787.09,NaN,NaN,...,0,0,4,0,0,1,1,0,0,Y
2039,agnt_2040,F,DEPT2,AREA5,CNTR25,KD,1,64313.80,85.94,NaN,...,0,0,14,1,0,1,1,0,0,Y
2277,agnt_2278,F,DEPT4,AREA12,CNTR34,K2,2,121127.77,NaN,NaN,...,0,0,3,0,0,1,1,0,1,Y
2353,agnt_2354,F,DEPT4,AREA3,CNTR5,Z1,2,27561.10,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2439,agnt_2440,F,DEPT4,AREA12,CNTR21,K0,2,249302.57,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2474,agnt_2475,M,NaN,NaN,CNTR6,0,2,597.75,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2825,agnt_2826,F,DEPT2,AREA1,CNTR32,K8,2,63297.91,NaN,NaN,...,0,0,4,0,0,1,1,0,0,Y
3052,agnt_3053,F,DEPT4,AREA24,CNTR11,HD,2,126924.21,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3076,agnt_3077,F,DEPT2,AREA18,CNTR4,KB,2,343758.36,NaN,NaN,...,0,0,5,0,0,1,1,0,0,Y
3090,agnt_3091,F,DEPT2,AREA9,CNTR7,KB,4,160415.63,99.20,NaN,...,0,1,18,0,0,1,1,0,0,Y
3114,agnt_3115,F,DEPT4,AREA19,CNTR29,KD,5,99254.92,NaN,NaN,...,0,0,13,1,0,1,1,0,0,Y
3165,agnt_3166,F,DEPT5,AREA22,CNTR8,Z1,2,60902.43,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
3365,agnt_3366,F,DEPT5,AREA11,CNTR15,KD,2,116916.14,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
3553,agnt_3554,M,DEPT5,AREA7,CNTR33,K8,2,22433.64,NaN,NaN,...,0,0,5,0,0,0,1,0,0,Y
3773,agnt_3774,M,DEPT5,AREA6,CNTR31,K8,2,90653.28,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3827,agnt_3828,M,DEPT2,AREA5,CNTR9,K8,3,50811.28,93.62,NaN,...,0,0,4,0,0,1,1,0,0,Y
3839,agnt_3840,M,DEPT5,AREA15,CNTR24,Z1,2,29409.67,NaN,NaN,...,0,0,1,0,0,0,0,0,0,Y
3879,agnt_3880,F,DEPT2,AREA18,CNTR3,Z1,2,33277.24,NaN,NaN,...,0,1,7,0,0,1,1,0,0,Y
3918,agnt_3919,F,DEPT2,AREA18,CNTR3,HE,2,109854.19,100.00,NaN,...,0,0,11,0,0,1,0,0,0,Y
3951,agnt_3952,F,DEPT5,AREA22,CNTR10,H5,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
3983,agnt_3984,F,DEPT1,AREA10,CNTR19,Z3,2,31823.59,NaN,NaN,...,0,0,3,0,0,0,1,0,0,Y
3989,agnt_3990,F,DEPT3,AREA14,CNTR17,HE,2,97652.34,NaN,NaN,...,0,1,22,0,0,1,1,0,0,Y

In [26]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['bill_invalid_ratio']) & pd.isna(df_DATA['bill_invalid_cnt'])]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
0,agnt_0001,M,DEPT3,AREA13,CNTR13,K7,3,30054.25,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
2,agnt_0003,M,DEPT3,AREA13,CNTR13,Z1,2,14618.46,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
3,agnt_0004,M,DEPT3,AREA13,CNTR35,Z1,2,42400.30,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
6,agnt_0007,M,DEPT3,AREA13,CNTR13,KA,2,38565.36,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
7,agnt_0008,M,DEPT3,AREA13,CNTR13,K8,2,23473.33,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4014,agnt_4015,F,DEPT3,AREA13,CNTR13,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4015,agnt_4016,F,DEPT3,AREA14,CNTR17,Z1,2,44524.35,NaN,NaN,...,0,0,3,0,0,1,1,0,0,N
4016,agnt_4017,M,DEPT3,AREA13,CNTR35,KA,2,36144.52,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4017,agnt_4018,F,DEPT2,AREA21,CNTR14,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4018,agnt_4019,F,DEPT2,AREA18,CNTR3,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N

In [30]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['agent_own_plcy']) & (df_DATA['abnormal_target'] == 'Y')]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
333,agnt_0334,F,DEPT2,AREA9,CNTR20,HD,2,41409.67,NaN,NaN,...,0,0,2,0,0,1,1,0,0,Y
334,agnt_0335,F,DEPT3,AREA8,CNTR16,K2,2,62528.69,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
351,agnt_0352,F,DEPT4,AREA19,CNTR30,Z1,2,46969.37,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
374,agnt_0375,F,DEPT4,AREA17,CNTR28,Z1,2,32539.06,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
450,agnt_0451,F,DEPT4,AREA20,CNTR27,HE,2,332448.33,NaN,NaN,...,0,0,6,0,0,1,1,0,0,Y
1122,agnt_1123,F,DEPT3,AREA16,CNTR1,K8,2,31356.00,NaN,NaN,...,0,0,1,0,0,0,1,0,0,Y
1406,agnt_1407,F,DEPT2,AREA2,CNTR2,K8,2,50916.87,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2277,agnt_2278,F,DEPT4,AREA12,CNTR34,K2,2,121127.77,NaN,NaN,...,0,0,3,0,0,1,1,0,1,Y
2439,agnt_2440,F,DEPT4,AREA12,CNTR21,K0,2,249302.57,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2474,agnt_2475,M,NaN,NaN,CNTR6,0,2,597.75,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
3052,agnt_3053,F,DEPT4,AREA24,CNTR11,HD,2,126924.21,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3076,agnt_3077,F,DEPT2,AREA18,CNTR4,KB,2,343758.36,NaN,NaN,...,0,0,5,0,0,1,1,0,0,Y
3165,agnt_3166,F,DEPT5,AREA22,CNTR8,Z1,2,60902.43,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
3553,agnt_3554,M,DEPT5,AREA7,CNTR33,K8,2,22433.64,NaN,NaN,...,0,0,5,0,0,0,1,0,0,Y
3773,agnt_3774,M,DEPT5,AREA6,CNTR31,K8,2,90653.28,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3839,agnt_3840,M,DEPT5,AREA15,CNTR24,Z1,2,29409.67,NaN,NaN,...,0,0,1,0,0,0,0,0,0,Y
3951,agnt_3952,F,DEPT5,AREA22,CNTR10,H5,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y

In [ ]:
# 範例：column1 為 NaN，column2 為 b 的 row
filtered_df = df_DATA[pd.isna(df_DATA['agent_own_plcy']) & (df_DATA['abnormal_target'] == 'Y')]
filtered_df

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
333,agnt_0334,F,DEPT2,AREA9,CNTR20,HD,2,41409.67,NaN,NaN,...,0,0,2,0,0,1,1,0,0,Y
334,agnt_0335,F,DEPT3,AREA8,CNTR16,K2,2,62528.69,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
351,agnt_0352,F,DEPT4,AREA19,CNTR30,Z1,2,46969.37,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
374,agnt_0375,F,DEPT4,AREA17,CNTR28,Z1,2,32539.06,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
450,agnt_0451,F,DEPT4,AREA20,CNTR27,HE,2,332448.33,NaN,NaN,...,0,0,6,0,0,1,1,0,0,Y
1122,agnt_1123,F,DEPT3,AREA16,CNTR1,K8,2,31356.00,NaN,NaN,...,0,0,1,0,0,0,1,0,0,Y
1406,agnt_1407,F,DEPT2,AREA2,CNTR2,K8,2,50916.87,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2277,agnt_2278,F,DEPT4,AREA12,CNTR34,K2,2,121127.77,NaN,NaN,...,0,0,3,0,0,1,1,0,1,Y
2439,agnt_2440,F,DEPT4,AREA12,CNTR21,K0,2,249302.57,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
2474,agnt_2475,M,NaN,NaN,CNTR6,0,2,597.75,NaN,NaN,...,0,0,0,0,0,1,1,0,0,Y
3052,agnt_3053,F,DEPT4,AREA24,CNTR11,HD,2,126924.21,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3076,agnt_3077,F,DEPT2,AREA18,CNTR4,KB,2,343758.36,NaN,NaN,...,0,0,5,0,0,1,1,0,0,Y
3165,agnt_3166,F,DEPT5,AREA22,CNTR8,Z1,2,60902.43,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y
3553,agnt_3554,M,DEPT5,AREA7,CNTR33,K8,2,22433.64,NaN,NaN,...,0,0,5,0,0,0,1,0,0,Y
3773,agnt_3774,M,DEPT5,AREA6,CNTR31,K8,2,90653.28,NaN,NaN,...,0,0,3,0,0,1,1,0,0,Y
3839,agnt_3840,M,DEPT5,AREA15,CNTR24,Z1,2,29409.67,NaN,NaN,...,0,0,1,0,0,0,0,0,0,Y
3951,agnt_3952,F,DEPT5,AREA22,CNTR10,H5,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,Y

In [28]:
cols_to_check = [
    'agent_own_plcy',
    'one_year_claim_plcy_cnt',
    'one_year_claim_plcy_ratio',
    'addr_not_vld_rate',
    'comm_amount_1y_rate',
    'pc_in_60_days_rate',
    'lapse_2y_rate'
]

# 取出每欄是 NaN 的 index set
na_index_sets = [set(df_DATA[df_DATA[col].isna()].index) for col in cols_to_check]

# 取所有欄位 NaN row 的交集
common_na_index = set.intersection(*na_index_sets)

print(f"同時是 NaN 的 row 數量：{len(common_na_index)}")

同時是 NaN 的 row 數量：2815

In [31]:
cols_to_check = [
    'bill_invalid_ratio',
    'bill_invalid_cnt'
]
# 取出每欄是 NaN 的 index set
na_index_sets = [set(df_DATA[df_DATA[col].isna()].index) for col in cols_to_check]

# 取所有欄位 NaN row 的交集
common_na_index = set.intersection(*na_index_sets)

print(f"同時是 NaN 的 row 數量：{len(common_na_index)}")

同時是 NaN 的 row 數量：3316

In [ ]:
filtered_df = df_DATA[pd.isna(df_DATA['agent_own_plcy']) & pd.isna(df_DATAP['bill_invalid_ratio'])]
filtered_df
# ???

,serial_no,gender,dept_flg,area_flg,cntr_flg,agent_level,agent_status,fyp_month_avg,persistence_prem_25,salary_ded_ratio,...,rule31_counts,rule32_counts,rule33_counts,rule34_counts,rule35_counts,rule36_counts,rule37_counts,rule38_counts,rule39_counts,abnormal_target
0,agnt_0001,M,DEPT3,AREA13,CNTR13,K7,3,30054.25,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
2,agnt_0003,M,DEPT3,AREA13,CNTR13,Z1,2,14618.46,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
3,agnt_0004,M,DEPT3,AREA13,CNTR35,Z1,2,42400.30,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
6,agnt_0007,M,DEPT3,AREA13,CNTR13,KA,2,38565.36,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
7,agnt_0008,M,DEPT3,AREA13,CNTR13,K8,2,23473.33,NaN,NaN,...,0,0,0,0,0,0,0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4014,agnt_4015,F,DEPT3,AREA13,CNTR13,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4015,agnt_4016,F,DEPT3,AREA14,CNTR17,Z1,2,44524.35,NaN,NaN,...,0,0,3,0,0,1,1,0,0,N
4016,agnt_4017,M,DEPT3,AREA13,CNTR35,KA,2,36144.52,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4017,agnt_4018,F,DEPT2,AREA21,CNTR14,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N
4018,agnt_4019,F,DEPT2,AREA18,CNTR3,Z1,2,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,N